:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    /* own added root color */
    --black-color: #111;
    --dark-background: #202024;
    --light-background:#f6f6f6;
    --violet: #4f2ee8;
    --yellow: #eac645;
    --white:#fff;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
html {
    box-sizing: border-box;
}



body  {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    min-height: 800px;
    background-color: var(--light-background);
    background-size: cover;
    /* overflow-y: visible; */
    
}
ul {
    list-style: none;
}
/* section {
   height: 100%;
    background-color: var(--light-background);
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slist-container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}


.demo-header {
    display: block;
    background-color: var(--white);
    min-width: 320px;
    height: 64px;
    border: 1px solid black;
    
}
.is-hidden {
    opacity: 0;
    visibility: hiiden;
    position: fixed;
    
}

@media screen and (min-width: 320px) {
    .container {
        width: 375px;
        /* margin-left: auto;
        margin-right: auto; */
    }
    .slist-header {
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 0px;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.1875;
        letter-spacing: -0.04em;
        color: var(--black-color);    
    }
    .slist-header-span {
        color: var(--violet);
    }

    .slist-demo-thumb {
        margin: 120px auto 0 auto;
        width: 265px;
        height: 248px;
    }
    .slist-demo-text {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    }

   

}